body {
    text-align: center;
}

span {
	width: 505px;
}

.lives {
	height: 70px;
}

.scoreCount{
	display: flex;
	flex-wrap: wrap;
	width: 505px;
	margin: auto;
}

.gauge {
	width: 50%;
	font-size: 1.3em;
}